language: go

# Only build tags
if: tag IS present

env:
  - IMAGE=${REGISTRY}:${TRAVIS_BRANCH}

go:
  - 1.11.4

services:
  - docker

script:
  - docker build -f configs/Dockerfile -t $IMAGE .
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push $IMAGE
  - docker run -v /var/run/docker.sock:/var/run/docker.sock -e IMAGE=${IMAGE} -e REGION=${REGION} -e AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}  -e AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} im7mortal/aws:v1

#after_success:
#  - goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN
