language: go

# Only build tags
if: tag IS present

go:
  - 1.11.4

services:
  - docker

script:
  - docker build -f configs/Dockerfile -t im7mortal/test_ci:try2 .
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push im7mortal/test_ci:try1

#after_success:
#  - goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN
